* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 1rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 10px 20px -7px rgba(160, 44, 219, 0.07);
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 1rem;
    margin: 0 1rem;
    font-size: 19px;
    color: #958383;
    cursor: pointer;
}

ul li:hover {
    background-color: hsl(0, 5%, 60%);
    color: white;
    border-radius: 10px;
}

span {
    font-size: 22px;
    padding: 0 1rem;
    cursor: pointer;

}

.logo {
    font-size: 22px;
    cursor: pointer;
}